<h1>Products</h1>
<div class="card">
  <div class="card-head">Lorem ipsum Product</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et amet nihil inventore sequi perferendis reiciendis ducimus quisquam error asperiores nostrum nemo placeat corrupti cum natus distinctio nobis, voluptatibus quibusdam recusandae.
  </div>
</div>
<div class="card">
  <div class="card-head">Lorem ipsum Product</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et amet nihil inventore sequi perferendis reiciendis ducimus quisquam error asperiores nostrum nemo placeat corrupti cum natus distinctio nobis, voluptatibus quibusdam recusandae.
  </div>
</div>
